*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.break-time-text{
    padding: 10px;
    font-weight: 900;
}
.break-circle-time{
    display: 
    flex;
   justify-content: space-evenly;
   padding: 10px;
   background-color: #0c7075;
   border-radius: 8px;
}
.break-circle-time h5{
   width: 50px !important;
   height: 50px !important;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: aliceblue;
   border-radius: 50% !important;
   cursor: pointer;
  padding: 6px;
}
.break-time-container{
    margin-top: 20px;
}