*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-home-container{
    background-color: rgba(238, 237, 237, 0.816);
}
.home-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns:repeat(12,1fr);
    grid-template-areas: "ls ls ls ls ls ls ls ls ls rs rs rs ";
    grid-column-gap: 10px;
    margin: 0px 20px;
    
}
.left-side{
    grid-area: ls;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
   
   
    
    
}
.right-side{
    grid-area: rs;
    border: 1px solid green;
    padding: 0px 15px;
    position: sticky;
    top: 0px;
   
   
   
}
.right-side .profile{
   
    top:0px;
    text-align: center;
    padding-top: 20px;
  
}
.right-side .profile h2{
    margin: 4px 0px;
}
.title-logo-text h3{
    padding: 10px;
    margin-left: 20px;

  
}
.title-logo{
    display: flex;
    height: 80px;
    align-items: center;
   
    font-weight: bold;
    

}
.title-logo h3{
    color:#1d848a;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
   
}

.logo{
    height: 50px;
    width:  50px;
}
.profile-image{
    width: 80px;
    height: 80px;
}
.add-a-break{
    /* background-color: #1d848a;
    color: white; */
    margin-top: 15px;
}
.activity-btn{
    background-color: #1d848a;
    color: white;
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

@media (max-width: 575.98px) { 
    .home-container{
       
        grid-template-columns:repeat(1,1fr);
        grid-template-areas: 
        "ls"
        "rs";
        grid-column-gap: 10px;
        margin:0 auto;
        width: 90%;
    }
    .left-side{
       
        grid-template-columns: repeat(1,1fr);
        
       
        
        
    }
  
  }
  
  
  @media (min-width: 576px) and (max-width: 767.98px) {
    .home-container{
       
        grid-template-columns:repeat(1,1fr);
        grid-template-areas: 
        "ls"
        "rs";
        grid-column-gap: 10px;
        margin: 0px 20px;
    }
    .left-side{
       
        grid-template-columns: repeat(1,1fr);
        grid-gap:16px;
       
        
        
    }
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .home-container{
       
        grid-template-columns:repeat(1,1fr);
        grid-template-areas: 
        "ls"
        "rs";
        grid-column-gap: 10px;
        margin: 0px 20px;
    }
    .left-side{
       
        grid-template-columns: repeat(2,1fr);
       
       
        
        
    }
   
  }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    
  }