*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-home-container{
    background-color: rgba(238, 237, 237, 0.816);
}
.home-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns:repeat(12,1fr);
    grid-template-areas: "ls ls ls ls ls ls ls ls ls rs rs rs ";
    grid-column-gap: 10px;
    margin: 0px 20px;
}
.left-side{
    grid-area: ls;
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:8px;
   
    
    
}
.right-side{
    grid-area: rs;
    border: 1px solid green;
   
   
   
}
.right-side .profile{
    position: sticky;
    top:0px;
    text-align: center;
    padding-top: 20px;
}
.right-side .profile h2{
    margin: 4px 0px;
}
.title-logo-text h3{
    padding: 10px;
    margin-left: 20px;

  
}
.title-logo{
    display: flex;
    height: 80px;
    align-items: center;
    padding: 10px;
    justify-content: center;

}
.title-logo h3{
    color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
   
}

.logo{
    height: 50px;
    width:  50px;
}
.profile-image{
    width: 80px;
    height: 80px;
}